
   #sidebar {
    width: 240px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s ease-in-out;
    background-color: #f8f9fa;
    flex-shrink: 0;
}
 
      #sidebar.oculto {
    margin-left: -240px;
}

      #contenedor {
    min-height: calc(100vh - 56px);
    flex-grow: 1;
}

   @media (max-width: 768px) {
    #sidebar {
        position: absolute;
        z-index: 1000;
    }
    #sidebar.oculto {
        margin-left: -240px;
    }
}

.btn-primary {
    --bs-btn-bg: #4f46e5;
    --bs-btn-border-color: #4f46e5;
    --bs-btn-hover-bg: #4338ca;
    --bs-btn-hover-border-color: #4338ca;
    --bs-btn-active-bg: #3730a3;
    --bs-btn-active-border-color: #3730a3;
    --bs-btn-focus-shadow-rgb: 79, 70, 229;
}